# IDE and editor folders
# Python cache files
# Python virtual environment
# Secrets - DO NOT COMMIT THIS
*.db
*.py[cod]
*.pyc
*.pyd
*.pyo
.env
.idea/
.states
.venv/
.vscode/
.web
ENV/
__pycache__/
assets/external/
exchange_token.py
generate_auth_url.py
secrets.toml
venv/
